* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

.nav {
  width: 100%;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1019607843);
  display: flex;
  align-items: center;
  height: 114px;
}
.nav .logo {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 50px;
}
.nav .logo select {
  outline: none;
  border: none;
  max-width: 186px;
  height: 50px;
  background-color: #ffd600;
  border-radius: 100px;
  text-align: center;
}
.nav .logo select option {
  background-color: #ffffff;
}
.nav .text {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 200px;
}
.nav .text a {
  text-decoration: none;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0%;
  color: #252525;
}
.nav .text select {
  outline: none;
  border: none;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0%;
}
.nav .icon {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 200px;
}
.nav .icon span {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav .icon span button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  align-items: center;
  gap: 10px;
}
.nav .icon button {
  width: 114px;
  height: 50px;
  border-radius: 100px;
  border: none;
}

.section-1 {
  width: 1240px;
  height: 639px;
  margin-left: 100px;
  border-radius: 20px;
  border: 1px solid #dbdbdb;
  background: url(../IMG/man-sits-end-trolltunga-before-mountains\ 1.png);
}
.section-1 .text h1 {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 42px;
  line-height: 52px;
  letter-spacing: 0%;
  text-align: center;
  color: #252525;
  margin-top: 123px;
  text-align: center;
}
.section-1 .text img {
  margin-left: 500px;
  margin-top: 10px;
}
.section-1 .text p {
  margin-top: 8px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #252525;
}
.section-1 .text div {
  margin-top: 47px;
  width: 618px;
  height: 75px;
  border-radius: 100px;
  background-color: #ffffff;
  border: none;
  display: flex;
  align-items: center;
  gap: 400px;
  padding: 20px;
  margin-left: 390px;
}
.section-1 .text div span {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #dbdbdb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-1 .text div button {
  width: 134px;
  height: 55px;
  background-color: #ffd600;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
  border-radius: 100px;
  border: none;
}
.section-1 .btn {
  display: flex;
  align-items: center;
  margin-top: 126px;
  margin-left: 300px;
  gap: 10px;
}
.section-1 .btn button {
  width: 130px;
  height: 32px;
  border: none;
  border-radius: 30px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  background-color: rgba(45, 42, 42, 0.537254902);
}

.section-2 {
  width: 1240px;
  height: 1169px;
  margin-top: 93px;
  margin-left: 100px;
}
.section-2 .h2 {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #252525;
}
.section-2 p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #252525;
  margin-top: 17px;
}
.section-2 .box {
  display: flex;
  align-items: center;
  margin-top: 63px;
  gap: 30px;
}
.section-2 .box .card {
  width: 449px;
  height: 490px;
  border-radius: 20px;
  background-image: url(/IMG/XXL_height\ 1.png);
}
.section-2 .box .card h4 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-top: 336px;
  margin-left: 46px;
}
.section-2 .box .card button {
  width: 131px;
  height: 34px;
  border-radius: 100px;
  border: none;
  background-color: #ffd600;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #252525;
  margin-top: 48px;
  margin-left: 43px;
}
.section-2 .box .card1 {
  width: 449px;
  height: 490px;
  border-radius: 20px;
  background-image: url(/IMG/AdobeStock_281852927\ 1.png);
}
.section-2 .box .card1 h4 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-top: 336px;
  margin-left: 46px;
}
.section-2 .box .card1 button {
  width: 131px;
  height: 34px;
  border-radius: 100px;
  border: none;
  background-color: #ffd600;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #252525;
  margin-top: 48px;
  margin-left: 43px;
}
.section-2 .box .card2 {
  width: 449px;
  height: 490px;
  border-radius: 20px;
  background-image: url(/IMG/Mask\ group1.png);
}
.section-2 .box .card2 h4 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-top: 336px;
  margin-left: 46px;
}
.section-2 .box .card2 button {
  width: 131px;
  height: 34px;
  border-radius: 100px;
  border: none;
  background-color: #ffd600;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #252525;
  margin-top: 48px;
  margin-left: 43px;
}
.section-2 .cover {
  display: flex;
  align-items: center;
  margin-top: 45px;
  gap: 43px;
}
.section-2 .cover .card {
  background-image: url(/IMG/Mask\ group333.png);
  width: 696px;
  height: 490px;
  border-radius: 15px;
}
.section-2 .cover .card h4 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-top: 336px;
  margin-left: 46px;
}
.section-2 .cover .card button {
  width: 131px;
  height: 34px;
  border-radius: 100px;
  border: none;
  background-color: #ffd600;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #252525;
  margin-top: 48px;
  margin-left: 43px;
}
.section-2 .cover .card1 {
  background-image: url(/IMG/Mask\ group444.png);
  width: 696px;
  height: 490px;
  border-radius: 15px;
}
.section-2 .cover .card1 h4 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-top: 336px;
  margin-left: 46px;
}
.section-2 .cover .card1 button {
  width: 131px;
  height: 34px;
  border-radius: 100px;
  border: none;
  background-color: #ffd600;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #252525;
  margin-top: 48px;
  margin-left: 43px;
}

.section-3 {
  width: 100%;
  height: 1753px;
  margin-top: 112px;
}
.section-3 .section3-top {
  display: flex;
  margin-bottom: 84px;
  margin-left: 100px;
}
.section-3 .section3-top h1 {
  font-family: "montserrat";
  font-weight: 800;
  font-size: 36px;
  line-height: 100%;
  color: #252525;
  margin-right: 54px;
}
.section-3 .section3-top select {
  width: 241px;
  height: 55px;
  border: 1px solid #e6e6e6;
  font-family: "montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #b7b7b7;
  margin-right: 30px;
  padding: 15px;
}
.section-3 .section3-top span {
  width: 241px;
  height: 55px;
  border: 1px solid #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-3 .section3-top span input {
  font-family: "montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #b7b7b7;
  border: none;
  outline: none;
}
.section-3 .container .cards {
  display: flex;
  gap: 35px;
  margin-left: 100px;
  margin-bottom: 30px;
}
.section-3 .container .cards .card {
  width: 300px;
  height: 456px;
  border-radius: 20px;
  border: 1px solid #dfdfdf;
}
.section-3 .container .cards .card img {
  width: 300px;
}
.section-3 .container .cards .card i {
  position: absolute;
  top: 0px;
  left: 0px;
}
.section-3 .container .cards .card .card-text {
  padding: 15px 23px;
}
.section-3 .container .cards .card .card-text h1 {
  font-family: "montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 23px;
  color: #252525;
  margin-bottom: 10px;
}
.section-3 .container .cards .card .card-text p {
  font-family: "montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #6a6a6a;
  padding-bottom: 16px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 14px;
}
.section-3 .container .cards .card .card-text .card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-3 .container .cards .card .card-text .card-bottom div h1 {
  font-family: "montserrat";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #252525;
}
.section-3 .container .cards .card .card-text .card-bottom div h1 span {
  font-family: "montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  color: rgba(37, 37, 37, 0.4823529412);
}
.section-3 .container .cards .card .card-text .card-bottom div select {
  width: 135px;
  height: 30px;
  background: transparent;
  border: 1px solid #e9e9e9;
  border-radius: 1000px;
  padding: 5px;
}
.section-3 .container .cards .card .card-text .card-bottom .card-bottom-right {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #e9e9e9;
  cursor: pointer;
  padding: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-3 .container .cards .card .card-text .card-bottom .card-bottom-right h1 {
  font-size: 25px;
  margin-top: 8px;
}
.section-3 .btn {
  margin-top: 73px;
  margin-left: 650px;
}
.section-3 .btn button {
  width: 194px;
  height: 55px;
  border-radius: 100px;
  border: none;
  background-color: #ffd600;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #000000;
}

.section-4 {
  width: 1240px;
  height: 485px;
  box-shadow: 0px 27px 31px 0px rgba(0, 0, 0, 0.1137254902);
  margin-left: 100px;
  margin-top: 104px;
  display: flex;
  gap: 200px;
  border-radius: 0px 0px 50px 50px;
}
.section-4 .text {
  padding-left: 80px;
}
.section-4 .text h2 {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #252525;
  padding-top: 69px;
}
.section-4 .text p {
  margin-top: 21px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  color: #252525;
}
.section-4 .text button {
  width: 175px;
  height: 55px;
  border-radius: 100px;
  background-color: #ffd600;
  border: none;
  margin-top: 68px;
}
.section-4 .img {
  display: flex;
}
.section-4 .img .person {
  margin-top: 75px;
}
.section-4 .img .text h6 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0%;
  color: #252525;
  padding-top: 72px;
}
.section-4 .img .text hr {
  width: 500px;
  border: 1px solid #e6e6e6;
  margin-top: 16px;
}
.section-4 .img .text .text1 {
  display: flex;
  gap: 49px;
  align-items: center;
  margin: 0;
  padding: 0;
}
.section-4 .img .text .text1 .left {
  margin: 0;
  padding: 0;
}
.section-4 .img .text .text1 .left p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0%;
  color: #737070;
}
.section-4 .img .text .text1 .left span {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0%;
  color: #252525;
}
.section-4 .img .text .text1 .right {
  display: flex;
  align-items: center;
  gap: 6px;
}
.section-4 .img .text .text1 .right span {
  margin-top: 20px;
}
.section-4 .img .text .text1 p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  color: #606060;
}
.section-4 .img .btn {
  margin-top: 400px;
  display: flex;
  align-items: center;
}
.section-4 .img .btn img {
  position: absolute;
  margin-left: -400px;
}
.section-4 .img .btn span .btn1 {
  display: flex;
  margin-left: -200px;
  gap: 14px;
}
.section-4 .img .btn .circle-btn {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  overflow: hidden;
}
.section-4 .img .btn .circle-btn::after {
  content: "";
  position: absolute;
  width: 95%;
  height: 95%;
  border-radius: 50%;
  border: 5px solid black;
  -webkit-clip-path: inset(0 0 100% 0);
          clip-path: inset(0 0 100% 0);
  transform: rotate(0deg);
  transition: transform 0.5s ease-in-out, -webkit-clip-path 0.5s ease-in-out;
  transition: clip-path 0.5s ease-in-out, transform 0.5s ease-in-out;
  transition: clip-path 0.5s ease-in-out, transform 0.5s ease-in-out, -webkit-clip-path 0.5s ease-in-out;
}
.section-4 .img .btn .circle-btn:hover::after {
  -webkit-clip-path: inset(0);
          clip-path: inset(0);
  transform: rotate(360deg);
}
.section-4 .img .btn .circle-btn i {
  width: 120px;
  font-weight: bold;
  color: #000;
}

.section-5 {
  width: 1470px;
  height: 700px;
  margin-top: 50px;
  background-color: #f5f5f5;
}
.section-5 .top {
  display: flex;
  gap: 800px;
  padding-top: 94px;
  align-items: center;
}
.section-5 .top h2 {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #252525;
  margin-left: 142px;
}
.section-5 .top .right-side {
  display: flex;
  align-items: center;
  gap: 60px;
}
.section-5 .top .right-side span .btn1 {
  display: flex;
  gap: 14px;
}
.section-5 .top .right-side .circle-btn {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  overflow: hidden;
}
.section-5 .top .right-side .circle-btn::after {
  content: "";
  position: absolute;
  width: 95%;
  height: 95%;
  border-radius: 50%;
  border: 5px solid black;
  -webkit-clip-path: inset(0 0 100% 0);
          clip-path: inset(0 0 100% 0);
  transform: rotate(0deg);
  transition: transform 0.5s ease-in-out, -webkit-clip-path 0.5s ease-in-out;
  transition: clip-path 0.5s ease-in-out, transform 0.5s ease-in-out;
  transition: clip-path 0.5s ease-in-out, transform 0.5s ease-in-out, -webkit-clip-path 0.5s ease-in-out;
}
.section-5 .top .right-side .circle-btn:hover::after {
  -webkit-clip-path: inset(0);
          clip-path: inset(0);
  transform: rotate(360deg);
}
.section-5 .top .right-side .circle-btn i {
  width: 120px;
  font-weight: bold;
  color: #000;
}
.section-5 .top button {
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 1000px;
  font-family: Montserrat;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  color: #454545;
}
.section-5 .bottom {
  margin-top: 58px;
  display: flex;
  align-items: center;
  margin-left: 140px;
  gap: 20px;
}
.section-5 .bottom .card {
  width: 300px;
  height: 335px;
  background-color: #ffffff;
  border-radius: 15px;
  border: 1px solid #e8e8e8;
}
.section-5 .bottom .card img {
  width: 100%;
}
.section-5 .bottom .card span {
  position: absolute;
  margin-top: 20px;
  margin-left: -260px;
  gap: 9px;
}
.section-5 .bottom .card span #one {
  width: 68px;
  height: 24px;
  border-radius: 5px;
  border: none;
  background-color: #ffd600;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #252525;
}
.section-5 .bottom .card span #two {
  width: 105px;
  height: 24px;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: Montserrat;
  font-weight: 500;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}
.section-5 .bottom .card h2 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0%;
  color: #252525;
  margin-left: 27px;
  margin-top: 10px;
}

.section-6 {
  width: 100%;
}
.section-6 .cover {
  background-image: url(/IMG/Mask\ group101.png);
  width: 1240px;
  height: 527px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 111px;
  margin-bottom: 25px;
  margin-left: 100px;
  border-radius: 35px;
}
.section-6 .cover h1 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0%;
  color: #252525;
  margin-left: 106px;
  padding-top: 91px;
}
.section-6 .cover h4 {
  margin-left: 106px;
  margin-top: 10px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  color: #252525;
}
.section-6 .cover span {
  display: flex;
  gap: 17px;
  margin-left: 106px;
  margin-top: 39px;
}
.section-6 .cover span button {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1294117647);
  width: 160px;
  height: 59px;
  border-radius: 9px;
  border: none;
  background-color: #ffffff;
}
.section-6 .cover span button i {
  color: #20a0e1;
}
.section-6 .cover p {
  margin-top: 113px;
  margin-left: 106px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0%;
  color: #7a7a7a;
}

.footer {
  margin-top: 70px;
  width: 100%;
  background-color: #fbfbfb;
}
.footer .top {
  display: flex;
  gap: 50px;
  padding-top: 113px;
}
.footer .top .box1 {
  margin-left: 100px;
}
.footer .top .box1 img {
  width: 128px;
  height: 37px;
}
.footer .top .box1 p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0%;
  color: #252525;
  margin-top: 70px;
}
.footer .top .box1 span {
  display: flex;
  align-items: center;
  margin-top: 12px;
  gap: 13px;
}
.footer .top .box1 span button {
  width: 40px;
  height: 40px;
  border: 1px solid #dfdfdf;
  background-color: #fbfbfb;
  color: #2cb742;
}
.footer .top .box {
  width: 250px;
}
.footer .top .box b {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #252525;
}
.footer .top .box p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 35px;
  letter-spacing: 0%;
  color: #252525;
}
.footer .top .box3 {
  width: 352px;
}
.footer .top .box3 b {
  padding-top: 20px;
}
.footer .top .box3 b span {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0%;
  color: #252525;
}
.footer hr {
  width: 1240px;
  margin-left: 100px;
}
.footer .bottom {
  display: flex;
  gap: 600px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.footer .bottom div {
  display: flex;
  align-items: center;
}
.footer .bottom p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 13px;
  line-height: 35px;
  letter-spacing: 0%;
  color: #252525;
  margin-left: 100px;
}
.footer .bottom .one {
  width: 194px;
  height: 14px;
}
.footer .bottom span {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer .bottom span p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 13px;
  line-height: 35px;
  letter-spacing: 0%;
  color: #252525;
  margin-left: 75px;
}
.footer .bottom .two {
  width: 132px;
  height: 22px;
}/*# sourceMappingURL=style.css.map */